<section id="signUp">

    <div class="container">
        <form [formGroup]="signUp" (ngSubmit)="signUp.valid&&FormData()">
            <div class="form w-50 m-auto">
                <div class="row">
                    <div class="col-md-6">
                        <input [class.is-valid]="signUp.get('first_name').status=='VALID'" formControlName="first_name" type="text" placeholder="Enter First Name" class="form-control">
                        <div *ngIf="signUp.get('first_name').errors&&signUp.get('first_name').touched" class="alert alert-danger" role="alert">
                            First Name is required
                        </div>
                    </div>
                    <div class="col-md-6">
                        <input [class.is-valid]="signUp.get('last_name').status=='VALID'" formControlName="last_name" type="text" placeholder="Enter Last Name" class="form-control">
                        <div *ngIf="signUp.get('last_name').errors&&signUp.get('last_name').touched" class="alert alert-danger" role="alert">
                            Last Name is required
                        </div>
                    </div>
                </div>
                <input [class.is-valid]="signUp.get('email').status=='VALID'" formControlName="email" type="email" placeholder="Enter Email" class="form-control my-3">
                <div *ngIf="signUp.get('email').errors&&signUp.get('email').touched" class="alert alert-danger" role="alert">
                    Last Name is required
                </div>
                <input [class.is-valid]="signUp.get('age').status=='VALID'" formControlName="age" type="number" placeholder="Enter You Age" class="form-control">
                <div *ngIf="signUp.get('age').errors&&signUp.get('age').touched" class="alert alert-danger" role="alert">
                    Last Name is required
                </div>
                <input [class.is-valid]="signUp.get('password').status=='VALID'" formControlName="password" type="password" placeholder="Enter password" class="form-control my-3">
                <div *ngIf="signUp.get('password').errors&&signUp.get('password').touched" class="alert alert-danger" role="alert">
                    Last Name is required
                </div>

                <button [disabled]="signUp.invalid" [ngStyle]="signUp.invalid? isStyleValid:isStyleInvalid" class="btn btn-info w-100"><span *ngIf="!isClicked">Sign Up</span> <span *ngIf="isClicked">Wating....</span></button>
                <div *ngIf="isSuccess" class="alert alert-success text-center" role="alert">
                    {{ResponseMessage}}
                </div>
                <div *ngIf="isUniuqeEmail" class="alert alert-danger text-center" role="alert">
                    {{isUniuqeEmailMessage}}
                </div>
            </div>
        </form>
    </div>
</section>